/* ================= css/projects.css ================= */
.projects{
    background:var(--bg);
}

.projects h2{
    font-size:2rem; 
    margin-bottom:1rem;
}

.projects-grid{
    display:grid; 
    grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));  
    margin-top:2rem;
}

.project-item{
    position:relative; 
    display:block; 
    overflow:hidden; 
}

.project-item img{
    display:block; 
    width:100%; 
    height:100%; 
    transition:transform var(--transition);
    border-radius:var(--radius);
    border: solid 1px rgba(107, 106, 106, 0.08);
}

.project-item .overlay{
    position:absolute; 
    inset:0; 
    background:rgba(0,0,0,.6); 
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items:center; 
    opacity:0; 
    transition:opacity var(--transition); 
    color:#ffffff;
}

.project-item:hover img{
    transform:scale(1.05);
}

.project-item:hover .overlay{
    opacity:1;
}

.cat{
    font-size:.9rem; 
    text-transform:uppercase; 
    color:var(--accent-2);
}

/* parte responsive */

@media (max-width:50rem){
    .projects-grid{grid-template-columns:1fr;}
}