/* ================= css/style.css =================  */
@import url('header.css');
@import url('hero.css');
@import url('skills.css');
@import url('quote.css');
@import url('projects.css');
@import url('contact.css');
@import url('footer.css');



:root{
  --bg: #0b0f12;
  --panel: #0c0b46;
  --muted: #9caab8;
  --text: #ffffff;
  --accent: #190e7e;
  --accent-2: #ffffff;
  --radius: 1rem;
  --gap: 1.25rem;
  --max-width: 72rem;
  --transition: 250ms ease;
  --fs-base: 16px;
}

*{
  box-sizing:border-box
}

html{
  font-size:100%;
}

body{
  margin:0; padding:0;
  font-family:Inter, system-ui, Arial;
  background:var(--bg);
  color:var(--text);
  text-align:center;
}
.container{
  max-width:var(--max-width); 
  margin:0 auto; 
  padding:3rem 1rem;
}

a{
  color:inherit; 
  text-decoration:none
}

.boton{
  display:inline-block; 
  padding:.7rem 1.1rem; 
  border-radius:.6rem; 
  font-weight:600; 
  text-transform:uppercase
}

.boton-primary{
  background:linear-gradient(90deg,var(--accent),#0c683d); 
  border: 2px solid rgba(32, 22, 177, 0.555);;
  color:#ffffff;
}

.boton-primary:hover{
  box-shadow:0 0 20px rgba(14, 9, 80, 0.555);
  transform: scale(1.05);
  transition: all 0.3s;
}



.boton-secundary{
  background:transparent;
  border:2px solid rgba(32, 22, 177, 0.555);
  color:#85e2b6;
  transform: scaleX(1);  
}

.boton-secundary:hover{
  box-shadow:0 0 20px rgba(14, 9, 80, 0.555);
  transform: scale(1.05);
  transition: all 0.3s;
}


.boton-ghost{
  background:transparent; 
  border:2px solid rgb(15, 131, 92);
  color: white;
  transform: scaleX(1);
}

.boton-ghost:hover{
  box-shadow:0 0 20px rgba(14, 9, 80, 0.555);
  transform: scale(1.05);
  transition: all 0.3s;
}

.small{
  font-size:.9rem; color:var(--muted)
}

.sr-only{
  position:absolute !important; 
  width:1px; 
  height:1px; 
  padding:0; 
  margin:-1px; 
  overflow:hidden; 
  clip:rect(0,0,0,0); 
  white-space:nowrap; 
  border:0
}



